<!-- <h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p> -->

<h2 style="text-align: center">
  <%= @question %>
</h2>

<p style="text-align: center">--> You</p>


<h2 style="text-align: center">
  Mind your own business!
</h2>

<p style="text-align: center">--> Your coach</p>

<h2 style="text-align: center"><%= link_to "Ask a new question", ask_path %></h2>

