<!-- <h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p> -->

<form action="/answer" style="text-align: center">
  <label for="question"><h2>Speak to your coach</h2></label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
